@model IEnumerable<Exam.Model.Entities.Student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-body">
    <div class="row justify-content-between align-items-center mb-10">
        <div class="col-12 col-lg-auto mb-20">
            <div class="page-heading">
                <h3 class="title">Students</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-30">
            <div class="box">
                <div class="box-head">
                    <a class="btn btn-primary" asp-controller="Student" asp-action="Insert">New Student</a>
                </div>
                <div class="box-body">
                    <table class="table table-bordered data-table data-table-default">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Department</th>
                                <th>Class</th>
                                <th>Is Admin?</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Student item in Model)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.Department</td>
                                    <td>@item.Class</td>
                                    <td>@item.isAdmin</td>
                                    <td><partial name="PartialViews\_StatusPartial" model="item.Status" /></td>
                                    <td>
                                        <a class="btn btn-info btn-sm" asp-controller="Student" asp-action="Details" asp-route-id="@item.ID">Details</a>
                                        <a class="btn btn-primary btn-sm" asp-controller="Student" asp-action="Update" asp-route-id="@item.ID">Update</a>
                                        <a class="btn btn-danger btn-sm" asp-controller="Student" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                        <a class="btn btn-success btn-sm" asp-controller="Student" asp-action="Activate" asp-route-id="@item.ID">Activate</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/admin/assets/js/plugins/datatables/datatables.min.js"></script>
    <script src="~/admin/assets/js/plugins/datatables/datatables.active.js"></script>
}

